<div class="container mt-5 center">
  <div class="text-center mt-4" style="float: right">
    <%= link_to 'Create new board', new_board_path, class: 'btn btn-info float-right' %>
  </div>
  <h1 class="text-center">Recent Boards</h1>
  <div class="row mt-4">
    <% @boards.each do |board| %>
      <div class="col-md-4 mb-4 bg-warning " style="margin-right: 10px">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><strong>Board Title:</strong> <%= link_to board.name, board_path(board) %></h5>
            <p class="card-text"><strong>Created by:</strong> <%= board.email %> </p>
            <p class="card-text"><strong>Created at:</strong> <%= board.created_at.strftime('%d %b %Y') %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @boards, param_name: 'page' %>

</div>
